<h2>New Article:</h2>

<%= form_tag "/articles", method: :post do %>
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Image:</label>
    <input type="text" name="image">
  </div>
  <div>
    <label>Date:</label>
    <input type="text" name="date">
  </div>
  <div>
    <label>Description:</label>
    <input type="text" name="description">
  </div>
  <input type="submit" name="Save Article">
<% end %>

